<div class="container text-center">
    <h1>About page.</h1>
    <p>We are DevMatch. Our comapny focuses on creating an exclusive community
    for developers and entrepreneurs to meet. aasdasdasd as das das dasd as das dasd asd as das 
    asdasdasdasdasdasdasdasd</p>
</div>
    